ENVIRONMENT=development

DB_HOST=news-db
DB_PORT=5432
DB_NAME=news_pipeline
DB_USER=news
DB_PASSWORD=news

CORS_ORIGINS=http://localhost:3000

AIRFLOW_BASE_URL=http://airflow-apiserver:8080
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow

ADMIN_API_KEY=changeme
